@media only screen and (min-width: 1364px) {
    .news_section {
        margin: 0 auto;
        max-width: 1350px;
    }
    .content {
        max-width: 770px;
    }
    .comment {
        max-width: 370px;
    }
    .post {
        max-width: 370px;
    }
    .content .news_image {
        width: 770px;
    }
    .recent_post_image {
        width: 370px;
    }
    .current_news .container {
        width: 770px;
    }
    .content .news_image {
        width: 770px;
    }
}

@media only screen and (max-width: 1024px) {
    .icon {
        padding-left: 25px;
        margin: 0;
        font-weight: bold;
        color: #ffffff;
        font-size: 37pt;
    }
    .news_section {
        /*max-height: 2135px;*/
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 30px;

    }
    .current_news h1 {
        font: 48px/1em 'Lato', sans-serif;
    }
    h1 {
        font: 29px/1em 'Lato', sans-serif;
        margin-bottom: 15px;
    }
    .scroll {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .icon {
        padding-left: 25px;
        margin: 0;
        font-weight: bold;
        color: #ffffff;
        font-size: 37pt;
    }

    .navigation > li > a {
        text-decoration: none;
        float: right;
        color: #fff;
        font-size: 14.5pt;
        font-weight: bold;
        padding: 28px 0 7px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }
    h1 {
        font: 30px/1em 'Lato', sans-serif;
        margin-bottom: 15px;
    }
    .current_news h1 {
        font: 30px/1em 'Lato', sans-serif;
    }
    .current_news .container {
        overflow: hidden;
        max-width: 476px;
        height: 357px;
        padding-right: 0;
        padding-left: 0;
        margin-top: 20px;
    }

    .content .news_image {
        width: 476px;
        height: 357px;
        transition: transform 200ms ease, opacity 300ms ease-in;
        -webkit-transition: -webkit-transform 200ms ease, -webkit-opacity 300ms ease-in;
    }
    .news_section {
        max-height: 3002px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 30px;
    }
    .post {
        height: 450px;
    }
    .recent_post_image {
        width: 219px;
        height: 153px;
    }
    .scroll {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .menu_panel {
        position: absolute;
    }
    .scroll {
        display: none;
    }

    .icon {
        padding-left: 25px;
        margin-top: 10px;
        font-weight: bold;
        color: #ffffff;
        font-size: 37pt;
    }

    .news_buttons {
        display: none;
    }

    .select_menu_tel {
        display: block;
        margin: 25px;
    }

    .navigation_panel {
        margin: 0 0 20px;
        padding-top: 200px;
        position: relative;
        background: #e9638e;
        z-index: 10;
        text-align: left;
        height: 50px;
    }

    .select_menu {
        display: block;
        border: 1px solid #DDD;
        background-color: #e4e4e4;
        width: 100%;
        height: 40px;
        padding: 5px;
        margin: 0;
        cursor: pointer;
        outline: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        line-height: 32px;
        font: 20px 'Lato', sans-serif;
    }

    .select_menu option.main_item {
        font-weight: bold;
    }

    .select_menu:focus {
        border-color: #DDD;
    }

    .select_menu option {
        padding: 5px;
        cursor: pointer;
        font: 15px 'Lato', sans-serif;
    }
    .current_news .container {
        overflow: hidden;
        max-width: 100%;
        height: auto;
        padding-right: 0;
        padding-left: 0;
        margin-top: 20px;
    }

    .content .news_image {
        width: 100%;
        height: auto;
        transition: transform 200ms ease, opacity 300ms ease-in;
        -webkit-transition: -webkit-transform 200ms ease, -webkit-opacity 300ms ease-in;
    }
    .news_section {
        height: auto;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 30px;
    }
    .post {
        height: auto;
    }
    .recent_post_image {
        width: 100%;
        height: auto;
    }

    .content h1 {
        font: 30px/1em 'Lato', sans-serif;
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 480px) {
    .comment {
        margin-top: 20px;
        width: 100%;
        /*margin-top: 40px;*/
        height: auto;
        padding-top: 10px;
    }
    .comment .avatar {
        padding-right: 0;
        position: inherit;
        height: auto;
        width: 100%;
        padding-bottom: 10px;
    }
    .comment .username {
        display: block;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 0;
    }
    .comment .comment_date {
        display: block;
        padding-left: 0;
        padding-bottom: 5px;
    }
}