body{
    margin: 0;
    font-family: 'Lato';
    
}


#color{
    background-color: #fbfcfe;   
}

iframe{
    margin-top: 40px;

    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 100%;
    border: none;
}
@media screen and (min-device-width:768px) and (max-device-width:991px){
    .iframe {
        width: 200%;
    }
}

.spacer{
    height: 50px;
    width: 100%;
    margin: auto;
}

.mail{
    color: #FFC300;
}

.title-box{
    text-decoration-color: #000000;
    text-align: center;
    margin-bottom: 40px;
    font-family: Lato, sans-serif;
    font-weight: 450;
    line-height: 1.2em;
}
@media (min-width: 1200px){
    .title-box{
    font-size: 3.5em;
    }
}

@media (min-width:992px) and (max-width: 1199px){
    .title-box{
        font-size: 3.5em;
        font-weight: 550;
    }
}
@media (min-width:768px) and (max-width:991px){
    .title-box{
        font-size: 30px;
        font-weight: 400;
    }
}

.area{
    text-decoration-color: #000000;
    font-family: Lato, sans-serif;
    font-weight: 450;
    line-height: 1.2em;
}

@media (min-width: 1200px){
    .area{
    font-size: 1.8em;
    }
}

@media (min-width:992px) and (max-width: 1199px){
    .area{
        font-size: 1.7em;
    }
}
@media (min-width:768px) and (max-width:991px){
    .area{
        font-size: 25px;
    }
}
@media (max-width:767px){
    .area{
        font-size: 1.7em;
    }
}

.form{
    background-color: #eaeaea;
    box-shadow: none;
    border: none;
    text-decoration: none;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 14px;
    
    
}

@media (min-width:1200px){
    .form{
        width: 31.181%;
        margin-right: 15px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .form{
        margin-right: 15px;
        width: 30.7%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .form{
        margin-right: 15px;
        width: 29.974%;
    }
}
@media(max-width:767px){
    .form{
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-bottom: 3%;
    }
}

.form:focus{
    background-color: #dfdfdf;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}
.form:blur{
    background-color: #eaeaea;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}

textarea, input{
	padding:15px 20px;
	margin-left: 10px;
	font-size:14px;
	line-height:1.2em;
	text-transform:none;
	color:#0c0c0c;
	text-decoration:none;
	position:relative;
	border-radius:0;
	background:#eaeaea;
	box-shadow:none;
	border:none;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
	transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
	-webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color: #eaeaea;
}

.message{
    text-align: start;
    margin-left: 0;
    margin-bottom: 20px;
}
@media (min-width:1200px){
    .message{
        width: 98.2%;
        margin-top: 17px;
    }
}
 @media (min-width: 768px) and (max-width: 991px){
     .message{
         margin-top: 13px;
         width: 96.9%;
     }
 }
@media (min-width:992px) and (max-width: 1199px){
    .message{
        margin-top:15px;
        width: 97.825%;
    }
}
@media (max-width: 767px){
        .message{
            width: 95%;
            margin-left: 2.5%;
            margin-right: 2.5%;
        }
    }
input{
    outline-width: 0;
    margin: 0;
}
textarea{
    width: 100%;
    height:200px;
    outline-width: 0;
}
input::-webkit-input-placeholder{
    color: #0c0c0c;
}
textarea::-webkit-input-placeholder{
    color: #0c0c0c;
}
a{
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}
/*=======================================
                BUTTON
=======================================*/
#btn {
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      font: bold 19px/1.2em 'Lato', sans-serif;
      padding: 0;
      z-index: 150;
      padding: 17px 35px !important;
      background: none;
      border: none;
      transition: all 0.3s;
}

.input-btn:after,
.input-btn:before {
    content: '';
    width: 55%;
    top: 0;
    height: 100%;
    background:  #FDCC57;
    box-sizing: content-box;
    position: absolute;
    transition: all 0.3s;
    overflow: hidden;
}
.input-btn span {
    position: relative;
    z-index: 24;
}
.input-btn:before {
    left: 0;
}
.input-btn:after {
    right: 0;
}
.input-btn {
    font-family: 'Lato', Times, serif;
    font-size: 15pt;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    width: 129.375px;
    background: #5cb4c1;
    transition: all 0.3s;
    text-decoration: none;
    line-height: 56px;
    text-align: center;
    /*z-index: 24;*/
    position: relative;
    margin-right: 9px;
}

.input-btn:hover:before{
    width: 0;
    overflow: visible;
}
.input-btn:hover:after {
    width: 0;
    overflow: visible;
}

/*========================================================
                    Header Section
========================================================*/
.menu_panel {
    text-transform: uppercase;
    position: fixed;
    padding: 10px 0;
    width: 100%;
    background: #212121;
    z-index: 25;
}
.menu_panel_inner_container {
    margin: 0 auto;
    width: 1170px;
}
.icon {
    float: left;
}

.icon:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.news_buttons {
    float: right;
}

.navigation {
    padding: 0;
    margin: 0;
    list-style:none;
}
.navigation > li {
    float: left;
    position: relative;
}
.navigation > li:not(:first-child) {
    margin-left: 30px;
}
.navigation > li > a {
    display: block;
    text-decoration:none;
    color:#fff;
    font-size: 19px;
    font-weight: bold;
    padding: 8px 0 7px 0;
    line-height: 24px;
}

.navigation > li:before {
    content: '';
    width: 100%;
    height: 0;
    background: #e9638e;
    position: absolute;
    top: -14px;
    left: -15px;
    padding: 0 15px 0 15px;
    z-index: -1;
    box-sizing: content-box;
    transition: height 0.3s;
}

.navigation > li.menu_item_selected:before,
.navigation > li.menu_item_highlighted:before,
.navigation > li.without_sub_menu:hover:before {
    height: 100%;
    padding-bottom: 25px;
}

.sub_menu {
    position: absolute;
    top: 100%;
    background: #2e3949;
    padding: 0;
    list-style: none;
    min-width: 170px;
    z-index: 10;
    text-align: left;
    overflow: hidden;
}

.sub_menu,
.sub_menu_pending_hide .sub_menu_hiding,
.sub_menu_hiding .sub_menu_hiding {
    opacity: 0.95;
}

.sub_menu_showing,
.sub_menu_shown {
    height: 110px;
}

.sub_menu_shown {
    overflow: visible;
}

.sub_menu_showing {
    transition: height 0.5s;
}

.sub_menu_hidden {
    height: 0;
}

.sub_menu_hiding {
    overflow: visible;
    opacity: 0;
    transition: opacity 0.5s;
}

.sub_menu_pending_hide .sub_menu_hiding,
.sub_menu_hiding .sub_menu_hiding {
    transition: none;
}

.sub_menu .sub_menu {
    right: 100%;
    top: 0;
    text-align: right;
}

.navigation > li > .sub_menu {
    left: -15px;
    margin-top: 10px;
}

.sub_menu > li {
    padding: 8px 20px;
    position: relative;
}

.sub_menu > li:not(:first-child) {
    border-top: 1px dotted #57676b;
    box-sizing: border-box;
}

.sub_menu a {
    font-size: 13px;
    color: #8c8c8c;
    text-decoration: none;
}

.sub_menu > li:hover > a,
.sub_menu > li.menu_item_highlighted > a {
    color: #fff;
}

.navigation_panel {
    width: 100%;
    margin: 0 0 20px;
    padding: 100px 0 20px;
    position: relative;
    background: #e9638e;
    z-index: 10;
    text-align: left;
    height: 50px;
}
/*========================================================
                       Footer Section
========================================================*/
.main_footer {
    bottom: 0;
    display: block;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    color: #777777;
}

.main_footer a {
    color: #777777;
    text-decoration: none;
}

.main_footer a:hover {
    color: #fdcc57;
}
#back-top-wrapper {
  position: fixed;
  right: 25px;
  bottom: 25px;
  overflow: hidden;
  z-index: 99;
}
#back-top-wrapper #back-top a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  background: none;
  color: #bbb;
  display: block;
}
#back-top-wrapper #back-top a:after {
  content: '';
  font: 42px/48px FontAwesome;
  color: #d9d9d9;
  display: inline-block;
  position: relative;
  z-index: 100;
  transition: all 0.3s;
}
#back-top-wrapper #back-top a span {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: block;
    position: absolute;
    transition: all 0.8s;
}
#back-top-wrapper #back-top a:hover>span {
    background: #fff;
}
#back-top-wrapper #back-top a:hover:after {
  transform: rotateY(360deg);
  color: #fdcc57;
}
