.nav {
    float: right;
}
.container {
    margin-right: 50px;
}
.nav>.dropdown>.dropdown-menu {
    opacity: 0.9;
    background: #4C4C4D;
    height: 0;
    padding: 0 0;
    left: -3px;

    display: inherit;
    overflow: hidden;
    visibility: hidden;
}
.dropdown-menu>.dropdown>.dropdown-menu {
    opacity: 0.9;
    /*height: 0;*/
    background: #4C4C4D;
    padding: 0 0;
    left: auto;
    right: 100%;
    transition: all 0.3s;
    display: inherit;
    overflow: hidden;
    visibility: visible;
}
.dropdown-menu li a {
    color: #8c8c8c;
    word-wrap: break-word;
    text-decoration: none;
}
li > .dropdown-menu li {
    text-align: left;
    background: none;
    font: 13px/1.2em 'Lato', sans-serif;
    padding: 5px 0;
    border-top: 1px dotted #57676b;
    box-sizing: border-box;
}
li>.dropdown-menu>li a:hover {
    background: none;
    color: #fff;
}
.nav>.dropdown:hover>.dropdown-menu {
    height: 105px;
    transition: all 0.3s;
    visibility: visible;
}
.dropdown-menu>.dropdown:hover>.dropdown-menu {
    /*height: 105px;*/
    visibility: visible;
}
.navbar-inverse .navbar-nav>li>a  {
    text-decoration: none;
    float: right;
    color: #fff;
    font-size: 14.5pt;
    font-weight: bold;
    padding: 20px 0 20px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.navbar-inverse .navbar-nav > li:before {
    content: '';
    width: 100%;
    height: 0;
    background: #e9638e;
    position: absolute;
    top: -14px;
    left: -3px;
    padding: 0;
    z-index: -1;
    box-sizing: content-box;
    transition: all 0.3s;
}
.navbar-inverse .navbar-nav > li:hover:before {
    height: 100%;
    padding-bottom: 15px;
}
